<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="png" th:href="@{/Images/icon/favicon.png}">
    <title>Learning Algorithms on OSOP Coding</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/subjects.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>

<!-- NAVIGATION -->
<header>
    <div class="nav" id="nav">
        <div id="learned-logo">
            <a th:href="@{/index}"><img src="/Images/osop.jpg" style="width: 120px;"></a>
        </div>
        <div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img src="../images/icon/menu.png"></div>
        <ul id="list-switch">
            <li><a th:href="@{/Module/jee}"><img th:src="@{/Images/courses/d1.png}" class="icon" /></a>JEE</li>
            <li><a th:href="@{/Module/gate}"><img th:src="@{/Images/courses/paper.png}" class="icon" />GATE</a></li>
            <li><a th:href="@{/Module/computer_courses}"><img th:src="@{/Images/courses/computer.png}" class="icon" />Computer Courses</a></li>
            <li><a th:href="@{/Module/datastructure}"><img th:src="@{/Images/courses/data.png}" class="icon" />Data Structures</a></li>
            <li><a th:href="@{/Module/algorithms}"><img th:src="@{/images/courses/algo.png}" class="icon" />Algorithm</a></li>
        </ul>
        <div class="search" id="search-switch">
            <input type="text" placeholder="Search" class="srch">
            <button id="srchbtn"><img th:src="@{/Images/icon/search.png}" /></button>
        </div>
    </div>
</header>

<!-- Main Title of the Page -->
<div class="title">
    <span>Learning Algorithms on OSOP Coding</span>
    <div class="shortdesc">
        <p>Enhance your programming skills with OSOP Coding to excel in your academic journey at<br> prestigious top companies.</p>

    </div>
</div>

<!-- Some KeyWords related to topic -->
<div class="course">
    <div class="cbox">
        <div class="det"><a th:href="@{/digital}">Algorithms in C++</a></div>
        <div class="det"><a th:href="@{https://en.wikipedia.org/wiki/Sequential_logic}" target="_blank">Algorithms in Python</a></div>
        <div class="det"><a th:href="@{/digital}">Algorithms in Java</a></div>
        <div class="det"><a th:href="@{/digital}">Algorithms in C</a></div>
        <div class="det"><a th:href="@{/digital}">Algorithms in Javascript</a></div>
        <div class="det"><a th:href="@{/digital}">Algorithms in C#</a></div>
        <div class="det"><a th:href="@{/digital}">Algorithms in Ruby</a></div>
        <div class="det"><a th:href="@{/digital}">Algorithms in C++ & C</a></div>
        <!-- Content here -->
        <!-- Videos on Data Structure in C++ Lectures -->
        <div class="title2" id="digital">
            <span>Data Structure in C++</span>
            <div class="shortdesc2">
                <p>Learn deeply about Data Structures with C++ Language...</p>
            </div>
        </div>
        <center>
            <div class="ccardbox2">
                <div class="dcard2"><span class="tag">1/55</span>
                    <div class="fpart2"><img th:src="@{/Images/courses/digital.jpg}" />
                        <iframe th:src="@{https://www.youtube.com/embed/eonI_6ef4w0?si=MlL57YIctjOrz6Nc}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Add more video cards here -->

                <div class="dcard2"><span class="tag">2/55</span>
                    <div class="fpart2"><img th:src="@{/Images/courses/digital.jpg}" />
                        <iframe th:src="@{https://www.youtube.com/embed/zRoXJfLylcg?si=7R3H1uo1QCHSnhPi}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Add more video cards here -->

                <div class="dcard2"><span class="tag">3/55</span>
                    <div class="fpart2"><img th:src="@{/Images/courses/digital.jpg}" />
                        <iframe th:src="@{https://www.youtube.com/embed/eQjlpl9WjQg?si=zsLhGABrmnItCySv}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Add more video cards here -->

                <div class="dcard2"><span class="tag">4/55</span>
                    <div class="fpart2"><img th:src="@{/Images/courses/digital.jpg}" />
                        <iframe th:src="@{https://www.youtube.com/embed/rl5f1zfSsic?si=oAK6YKMpw84u_mXY}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Add more video cards here -->

                <div class="dcard2"><span class="tag">5/55</span>
                    <div class="fpart2"><img th:src="@{/Images/courses/digital.jpg}" />
                        <iframe th:src="@{https://www.youtube.com/embed/rl5f1zfSsic?si=jo2t-wix_Oex_fbC}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Add more video cards here -->

                <div class="dcard2"><span class="tag">6/55</span>
                    <div class="fpart2"><img th:src="@{/Images/courses/digital.jpg}" />
                        <iframe th:src="@{https://www.youtube.com/embed/IVjPstdXqpM?si=Ezongy1SgXtnT5WR}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Add more video cards here -->

                <div class="dcard2"><span class="tag">7/55</span>
                    <div class="fpart2"><img th:src="@{/Images/courses/digital.jpg}" />
                        <iframe th:src="@{https://www.youtube.com/embed/QfSIj5pmeTw?si=Z2O_3jPcZ5r-j6zC}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Add more video cards here -->


            </div>

        </center>
    </div>
</div>
<br><br>
<div class="click-me">
    <a th:href="@{https://www.youtube.com/embed/videoseries?si=2fTlCL9RsCvACUvS&amp;list=PLyHwTzBEQo7yZG4YIbjiLSPeDH4kKgDnj}" target="_blank">Click Here to Watch full playlist</a>
</div>
</div>
</div>
</div>

<!-- FOOTER -->
<footer>
    <div class="footer-container">
        <div class="left-col">
            <img th:src="@{/Images/osop.jpg}" style="width: 200px;">
            <div class="logo"></div>
            <div class="social-media">
                <a href="#"><img th:src="@{/Images/icon/fb.png}"></a>
                <a href="#"><img th:src="@{/Images/icon/insta.png}"></a>
                <a href="#"><img th:src="@{/Images/icon/tt.png}"></a>
                <a href="#"><img th:src="@{/Images/icon/ytube.png}"></a>
                <a href="#"><img th:src="@{/Images/icon/linkedin.png}"></a>
            </div><br><br>
            <p class="rights-text">Copyright © 2024 Created By Aman Vishwakarma, Anushka Sharma, Bhushan Kawadkar, Divyansh Dixit and Divyanshi Neema.</p>
            <br><p><img th:src="@{/Images/icon/location.png}"> Chameli Devi Group of Institutions<br>Indore, Madhya Pradesh</p><br>
            <p><img th:src="@{/Images/icon/phone.png}">9589276762<br><img th:src="@{/Images/icon/mail.png}">&nbsp; osopcoding@gmail.com</p>
        </div>
        <div class="right-col">
            <h1 style="color: #fff">Our Newsletter</h1>
            <div class="border"></div><br>
            <p>Enter Your Email to get our News and updates.</p>
            <form class="newsletter-form">
                <input class="txtb" type="email" placeholder="Enter Your Email">
                <input class="btn" type="submit" value="Submit">
            </form>
        </div>
    </div>



</footer>
</div>
</div>
</body>
</html>

<!--done this page in thmeleaf -->