<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" type="png" th:href="@{/Images/icon/favicon.png}">
    <title>Computer Science Courses on LearnEd</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<header>
    <div class="nav" id="nav">
        <div id="learned-logo">
            <a th:href="@{/index.html}">
                <img th:src="@{/Images/osop.jpg}" style="width: 120px;">
            </a></div>
        <div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img th:src="@{/Images/icon/menu.png}">
        </div>
        <ul id="list-switch">
            <li><a th:href="@{/jee.html}"><img th:src="@{/Images/courses/d1.png}" class="icon" alt="JEE">JEE</a></li>
            <li><a th:href="@{/gate.html}"><img th:src="@{/Images/courses/paper.png}" class="icon" alt="GATE">GATE</a></li>
            <li><a href="#"><img th:src="@{/Images/courses/computer.png}" class="icon" alt="Computer Courses">Computer Courses</a></li>
            <li><a th:href="@{/data}"><img th:src="@{/Images/courses/data.png}" class="icon" alt="Data Structures">Data Structures</a></li>
            <li><a th:href="@{/algo}"><img th:src="@{/Images/courses/algo.png}" class="icon" alt="Algorithm">Algorithm</a></li>
            <li><a th:href="@{/projects}"><img th:src="@{/Images/courses/projects.png}" class="icon" alt="Projects">Projects</a></li>
        </ul>

        <div class="search" id="search-switch">
            <input type="search" placeholder="Search" class="srch">
            <button id="srchbtn">
                <img th:src="@{/Images/icon/search.png}">
            </button>
        </div>

    </div>

</header>


<!-- MAIN Heading of Page -->
<div class="title">
    <span>Computer Science Courses<br>on LearnEd</span>
    <div class="shortdesc">
        <p>Learn programming languages and concepts to prepare for a career in<br>hardware or software development</p>
    </div>
</div>

<div class="course">
    <div class="cbox">
        <div class="det"><a th:href="@{/java}">Java</a></div>
        <div class="det"><a href="https://developer.android.com/">Android Development</a></div>
        <div class="det"><a href="https://docs.oracle.com/javafx/2/get_started/fxml_tutorial.htm">FXML</a></div>
        <div class="det"><a th:href="@{/cplusplus}">C++</a></div>
        <div class="det"><a href="https://www.geeksforgeeks.org/introduction-of-compiler-design/">Compiler Designing</a></div>
        <div class="det"><a href="https://www.coursera.org/specializations/game-design-and-development">Game Development</a></div>
        <div class="det"><a th:href="@{/algo}">Algorithm</a></div>
    </div>
</div>

<div class="cbox">
    <div class="det"><a th:href="@{/python}">Python</a></div>
    <div class="det"><a href="https://www.coursera.org/learn/machine-learning">Machine Learning</a></div>
    <div class="det"><a href="https://en.wikipedia.org/wiki/Artificial_intelligence">Artificial Intelligence</a></div>
    <div class="det"><a href="https://en.wikipedia.org/wiki/Network">Networking</a></div>
    <div class="det"><a href="https://www.kaspersky.co.in/resource-center/definitions/what-is-cyber-security">Cyber Security</a></div>
    <div class="det"><a href="https://www.eccouncil.org/ethical-hacking/">Ethical Hacking</a></div>
    <div class="det"><a th:href="@{/data}">Data Structures</a></div>
</div>

<div class="cbox">
    <div class="det"><a href="#html_css">HTML and CSS</a></div>
    <div class="det"><a href="https://www.udacity.com/course/full-stack-web-developer-nanodegree--nd0044">Full Stack Web Development</a></div>
    <div class="det"><a href="https://uxplanet.org/what-is-ui-vs-ux-design-and-the-difference-d9113f6612de?gi=6d9d13f4cc95">UI Designing</a></div>
    <div class="det"><a href="https://www.adobe.com/in/products/xd.html">Adobe XD</a></div>
    <div class="det"><a href="https://www.sciencedirect.com/topics/computer-science/hardware-design">Hardware Designing</a></div>
    <div class="det"><a href="#javascript">JavaScript</a></div>
    <div class="det"><a th:href="@{/html_css}">Bootstrap</a></div>
</div>



<!-- Courses Available -->
<div class="inbt">
    Accelerate your career with Computer Science programs
</div>

<div class="ccard">
    <center>
        <div class="ccardbox">
            <div class="dcard">
                <div class="fpart"><img th:src="@{/Images/courses/java-course.jpg}"></div>
                <a th:href="@{/java}"><div class="spart">2 Courses <img th:src="@{/Images/icon/dropdown.png}"></div></a>
            </div>
            <div class="dcard">
                <div class="fpart"><img th:src="@{/Images/courses/python-course.png}"></div>
                <a th:href="@{/python}"><div class="spart">5 Courses <img th:src="@{/Images/icon/dropdown.png}"></div></a>
            </div>
            <div class="dcard">
                <div class="fpart"><img th:src="@{/Images/courses/c-course.jpg}"></div>
                <a th:href="@{/cplusplus}"><div class="spart">3 Courses <img th:src="@{/Images/icon/dropdown.png}"></div></a>
            </div>
        </div>



        <div class="ccardbox">
            <div class="dcard">
                <div class="fpart"><img th:src="@{/Images/courses/web-course.jpg}"></div>
                <a th:href="@{/html_css}"><div class="spart">6 Courses <img th:src="@{/Images/icon/dropdown.png}"></div></a>
            </div>
            <div class="dcard">
                <div class="fpart"><img th:src="@{/Images/courses/data-course.jpg}"></div>
                <a th:href="@{/data}"><div class="spart">2 Courses <img th:src="@{/Images/icon/dropdown.png}"></div></a>
            </div>
            <div class="dcard">
                <div class="fpart"><img th:src="@{/Images/courses/algo-course.jpg}"></div>
                <a th:href="@{/algo}"><div class="spart">1 Courses <img th:src="@{/Images/icon/dropdown.png}"></div></a>
            </div>
        </div>

        <!--
        s on JAVA Lectures -->



<!-- s on C++ Lectures -->
        <!-- s on PYTHON Lectures -->

<!-- s on DATA STRUCTURES Lectures -->




<!--
s on ALGORITHM Lectures -->




<!--
s on HTML and CSS Lectures -->




    <!--
    s on JAVASCRIPT Lectures -->



    <!-- PROJECTS -->


<br><br><br><br><br>

<!-- FOOTER -->
<footer>
    <div class="footer-container">
        <div class="left-col">
            <img th:src="@{/Images/osop.jpg}" style="width: 200px; border-radius:">
            <div class="logo"></div>
            <div class="social-media">
                <a href="#"><img th:src="@{/Images/icon/fb.png}"></a>
                <a href="#"><img th:src="@{/Images/icon/insta.png}"></a>
                <a href="#"><img th:src="@{/Images/icon/tt.png}"></a>
                <a href="#"><img th:src="@{/Images/icon/ytube.png}"></a>
                <a href="#"><img th:src="@{/Images/icon/linkedin.png}"></a>
            </div><br><br>
            <p class="rights-text" th:text="#{copyright}">Copyright © 2021 Created By Roshan Kumar, Abhishek Dulat All Rights Reserved.</p>
            <br><p><img th:src="@{/Images/icon/location.png}"> Lovely Professional University<br>Phagwara, Punjab-144401</p><br>
            <p><img th:src="@{/Images/icon/phone.png}"> +91-1234-567-890<br><img th:src="@{../Images/icon/mail.png}">&nbsp; learnedonline9419@gmail.com</p>
        </div>
        <div class="right-col">
            <h1 style="color: #fff">Our Newsletter</h1>
            <div class="border"></div><br>
            <p>Enter Your Email to get our News and updates.</p>
            <form class="newsletter-form">
                <input class="txtb" type="email" placeholder="Enter Your Email">
                <input class="btn" type="submit" value="Submit">
            </form>
        </div>
    </div>
</footer>
</body>
</html>